<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Login</title>

  <!--  Main Css  -->
  <link rel="stylesheet" href="./style/main.css">

</head>
<body>

  <!-- header -->
  <header class="w-100 bg-black text-color">
    Account Login
  </header>
  <!-- header end -->

  {{{  body  }}}

  <!-- footer -->
  <footer class="w-100 bg-black text-center text-color">
    Copyright © 2021 Ben Chou
  </footer>
  <!-- footer end -->
  
</body>
</html>