<div class="content w-100 d-flex justify-content-center align-items-center">
    <div class="container bg-white">
      <h2 class="text-center">Welcome back</h2>
      <h3 class="text-center">Ben</h3>
      <form action="/logout" method="POST">
        <button type="submit">Log Out</button>
      </form>
    </div>
  </div>