<div class="content w-100 d-flex justify-content-center align-items-center">
  <div class="container bg-white">
    <h2 class="text-center">Login</h2>
    {{#if messages.error}}
    <p>{{ messages.error }}</p>
    {{/if}}
    <form action="/login" method="POST">
      <div class="group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="email...">
      </div>
      <div class="group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="password...">
      </div>
      <button type="submit">Login</button>
    </form>
    <a href="/register" class="text-center">Register</a>
  </div>
</div>